@import url("https://fonts.google.com/specimen/Instrument+Sans");
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 500px;
    height: 300px;
    text-align: center;
}
header{ 
    margin-top: 10px;
    text-align: center;
    background-color: rgb(199, 83, 231);
    width: 1500px;
}
h1{
    font-size: 80px;
     color: rgb(53, 5, 67);
}
body{
    background-color: rgb(234, 191, 242);
}
h2{
    font-size: 45px;
    color: rgb(96, 7, 123);
}
.navbar {
    background-color: rgb(199, 83, 231); 
    padding: 15px;
    align-items: left;
    position: sticky;
    top: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}
p{
    font-size: 20px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #e7dced;
}
thead {
    background-color: #4c0663;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

tbody {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #DDD;
}

tbody tr:nth-child(odd) {
    background-color: #efc9f7;
}

tbody tr:nth-child(even) {
    background-color: #d866f4;
}
tr td ul{
      list-style-type: none;
}
footer {
    background-color: #a061a9;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 40px;
    color: white;
}