@import url("https://fonts.google.com/specimen/Instrument+Sans");
.logo{
    width: 500px;
    height: 300px;
}
header{ 
    margin-top: 10px;
    text-align: center;
    background-color: rgb(199, 83, 231);
    width: 1500px;
}
header h1{
    font-size: 80px;
}
body{
    background-color: rgb(221, 150, 234);
   
}