@import url("https://fonts.google.com/specimen/Instrument+Sans");
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 500px;
    height: 300px;
    text-align: center;
}
header{ 
    margin-top: 10px;
    text-align: center;
    background-color: rgb(199, 83, 231);
    width: 1500px;
}
h1{
    font-size: 80px;
     color: rgb(53, 5, 67);
}
body{
    background-color: rgb(221, 150, 234);
}
h2{
    font-size: 45px;
    color: rgb(96, 7, 123);
}
.navbar {
    background-color: rgb(199, 83, 231); 
    padding: 15px;
    align-items: left;
    position: sticky;
    top: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}
p{
    font-size: 20px;
}